@import url("/src/styles/components/colors.css");

.inscripcion-container {
  display: grid;
  /* Dos columnas de tamaño flexible */
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1.5rem;
}

.columna-disponibles,
.columna-seleccionadas {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  border: 1px solid #eee;
  /* Altura mínima para que se vean iguales si están vacías */
  min-height: 400px;
}

.columna-seleccionadas {
  background-color: #ffffff; /* Fondo blanco para la selección */
}

.columna-disponibles h3,
.columna-seleccionadas h3 {
  margin-top: 0;
  border-bottom: 2px solid #002347; /* Azul de tu navbar */
  padding-bottom: 10px;
}

#lista-materias-disponibles,
#lista-materias-seleccionadas {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 400px; /* Altura máxima con scroll */
  overflow-y: auto;
}

.materia-item,
.materia-item-seleccionada {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ddd;
}

.materia-item:last-child,
.materia-item-seleccionada:last-child {
  border-bottom: none;
}

.materia-item div,
.materia-item-seleccionada div {
  flex-grow: 1;
  line-height: 1.5;
  font-size: 0.9rem;
  padding-right: 10px;
}

.materia-item-seleccionada div {
  font-size: 0.95rem;
}

/* Estilo para los botones 'Añadir' y 'Eliminar' */
.materia-item .btn-add {
  padding: 5px 12px;
  font-size: 1rem;
  line-height: 1;
  background-color: var(--pantone);
}
.materia-item .btn-add:hover {
  background-color: var(--cool-gray-pantone);
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}
.btn-delete:hover {
  background-color: #c82333;
}

.placeholder-seleccion {
  text-align: center;
  padding: 2rem;
  color: #777;
  font-style: italic;
}

.total-actions {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
}

/* Estilo para materia ya seleccionada (deshabilitada) */
.materia-item.seleccionada {
  background-color: #f0f0f0;
  opacity: 0.6;
}
.materia-item.seleccionada .btn-add {
  background-color: #6c757d;
  cursor: not-allowed;
}

#lista-materias-disponibles,
#lista-materias-seleccionadas {
  /* Para Firefox */
  scrollbar-width: none;

  /* Para IE y Edge */
  -ms-overflow-style: none;
}

/* Oculta la barra de scroll en navegadores Webkit (Chrome, Safari)
  usando un pseudo-elemento.
*/
#lista-materias-disponibles::-webkit-scrollbar,
#lista-materias-seleccionadas::-webkit-scrollbar {
  display: none;
}
