* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montse;
  color: var(--white-color);
}

body {
  background-color: var(--white-color);
  color: var(--pantone); /* Color del texto */
  line-height: 1.6; /* Espacio entre líneas */
  font-family: Montse, sans-serif;
  display: flex;
  flex-direction: column;
}

.privacy-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: var(--pantone);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
